.foot {
  background-color: #19345E;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.foot .footer1 .media_sosial {
  padding-left: 70px;
}
.foot .footer1 .media_sosial p {
  color: white;
  font-size: 14px;
  padding: 5px 14px;
  font-family: "SFCompactDisplay";
}
.foot .footer1 .media_sosial .sosial {
  padding: 0px;
}
.foot .footer1 .media_sosial .sosial a {
  padding-left: 15px;
  padding-bottom: 0;
}
.foot .footer1 .copyright {
  padding: 20px 70px 20px 110px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.foot .footer1 .copyright span {
  color: white;
  font-size: 14px;
  font-family: "SFCompactDisplay";
}
